@using Google_API.Models
@model Event

<div style="margin-top: 50px;">
    <form method="post" action="UpdateEvent?identifier=@Model.Id">
        <div class="row" style="margin:10px;">
            <label for="Summary" class="col-sm-3">Summary:</label>
            <input type="text" class="col-sm-1 form-control" name="Summary" value="@Model.Summary" autocomplete="off" />
        </div>
        <div class="row" style="margin:10px;">
            <label for="Description" class="col-sm-3">Description:</label>
            <input type="datetime" class="col-sm-1 form-control" name="Description" value="@Model.Description" autocomplete="off" />
        </div>
        <div class="row" style="margin:10px;">
            <label for="Start.DateTime" class="col-sm-3">Start Date Time:</label>
            <input type="datetime" class="col-sm-1 form-control" name="Start.DateTime" value="@Model.Start.DateTime" autocomplete="off" />
        </div>
        <div class="row" style="margin:10px;">
            <label for="End.DateTime" class="col-sm-3">End Date Time:</label>
            <input type="datetime" class="col-sm-1 form-control" name="End.DateTime" value="@Model.End.DateTime" autocomplete="off" />
        </div>
        <div class="row col-sm-3" style="margin:10px;">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>
